.home{
    display: flex;
    width: 95%;
    max-width: 900px;
    margin: 100px auto;
}


.profile-image{
    margin-right: 100px;
}

.profile-image img{
    width: 270px;
}

.home h1{
    font-size: 3.1em;
    font-weight: bold;
    margin: 0;
}

.horizontal-bar{
    display: inline-block;
    background-color: #D9A61A;
    height: 2px;
    border-radius: 5px;
    width: 60px;
    position: relative;
    bottom: 9px; 
    margin-right: 16px;
}

.home h2{
    color: #D9A61A;
    margin: 0;
    font-family: 'freestyle', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home p{
    margin-bottom: 50px;
}

.home .hire-button{
    background-color: #D9A61A;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 0 40px;
    width: 240px;
    height: 56px;
    justify-content: space-between;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    bottom: 0;
    outline: none;
    display: flex;
    transition-duration: 0.2s;
}

.home .hire-button:hover{
    background-color: #e4b32c;
    bottom: 2px;
}

.home .hire-button img{
    width: 20px;
}